@{
    ViewBag.Title = "Home Page";
}

<style>
    ul.a {
        list-style-type: decimal;
        list-style-position: inherit;
        align-content: center;
        width: 100%;
        display: inline-block;
    }

    li.a {
        font-size: 17px;
    }

    input.a {
        background-color: #44c767;
        border-radius: 28px;
        border: 1px solid #18ab29;
        display: inline-block;
        cursor: pointer;
        color: #ffffff;
        font-family: Arial;
        font-size: 17px;
        padding: 15px 22px;
        text-decoration: none;
        text-shadow: 0px 1px 0px #2f6627;
    }

        input.a:hover {
            background-color: #5cbf2a;
        }
        input.a:active {
            position: relative;
            top: 1px;
        }
</style>

<div>
    @{
        foreach (var shopping in ViewBag.Shoppings)
        {

            <div style="position: center; text-align:center; width: 100%;">
                <h1>Twoje listy zakupów</h1>
            </div>
            <ul>
                @{foreach (var shoppingList in shopping.ShoppingLists)
                    {


                        <li style="font-size: 25px;">
                            <h3>
                                Nazwa: @shoppingList.Name
                            </h3>
                            <h4>
                                Opis: @shoppingList.Description
                            </h4>
                        </li>
                        <ul class="a">

                            @{ foreach (var shoppingProduct in shoppingList.Products)
                                {

                                    <li class="a">
                                        <div class="row d-inline-flex w-100 ml-3">
                                            <div class="col-xs-6">
                                                @shoppingProduct.Name
                                            </div>
                                            <div class="col-xs-6">
                                                Ilość: @shoppingProduct.Quantity
                                            </div>
                                        </div>
                                    </li>

                                }
                            }
                        </ul>
                    }
                }
            </ul>
        }
    }
    <input class="a" type="button" value="Dodaj nowe zakupy" onclick="location.href='@Url.Action("Contact", "Home")'" />
    <input class="a" type="button" value="Dodaj nową listę" onclick="location.href='@Url.Action("About", "Home")'" />
</div>